.app-header{
    text-align: center;
    padding-top: 20px;
    height: 10vh;
    background: rgba(76,86,122,1);
    color: white;

    padding: 20px;
 a:first-child(){
    color: white;
 }
 a.my-active:first-child(){
    color: white;
 }
a{
    color: rgba(240, 248, 255, 0.733);
    font-weight: 700;
}
a.active, a.my-active {
    color: #0f0080;
}

}
.navigation{
    gap: 5px;
    justify-content: center;
    button{
        background: none;
        height: 30px;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }
}