.home {
  margin-top: rem(30px);
    h1 {
      font-family: 'Playfair-Regular';
      font-size: 2em;
      text-align: center;
    }

    p {
      font-size: 1.2em;
    }
}

.loader{
  right: 40%;
  transform: translateX(40%);
  height: 40%;
  width: 50%;
  margin-top: 20px;
  border:none;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}